<h1 class="page-header">Branches</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="18%">Name</th>
      <th width="18%">City</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p><a class="add" href="#" data-bypass="true"><i class="icon-plus"></i> Add branch</a></p>
