<td><input class="name" placeholder="Name"></td>
<td><input class="ip_address" placeholder="IP address"></td>
<td><select class="model"></select>
  <a class="add-model" href="/models">Add model</a></td>
<td><select class="user"></select>
  <a class="add-user" href="/users">Add user</a></td>
<td><a href="#" data-bypass="true" class="save"><i class="icon-ok"></i></a></td>
