<h1 class="page-header">Computers</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="22.5%">Name</th>
      <th width="22.5%">IP address</th>
      <th width="22.5%">Model</th>
      <th width="22.5%">User</th>
      <th width="10%">Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p><a class="add" href="#" data-bypass="true"><i class="icon-plus"></i> Add computer</a></p>
