<h1 class="page-header">Departments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="18%">Name</th>
      <th width="18%">Sections</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p><a class="add" href="#" data-bypass="true"><i class="icon-plus"></i> Add department</a></p>
