<td><input class="name" placeholder="Name"></td>
<td><input class="model_brand" placeholder="Brand"></td>
<td><input class="type" placeholder="Type"></td>
<td><input class="comment" placeholder="Comment"></td>
<td><a href="#" data-bypass="true" class="save"><i class="icon-ok"></i></a></td>
