<h1 class="page-header">Models</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="22.5%">Name</th>
      <th width="22.5%">Brand</th>
      <th width="22.5%">Type</th>
      <th width="22.5%">Comment</th>
      <th width="10%">Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p><a class="add" href="#" data-bypass="true"><i class="icon-plus"></i> Add user</a></p>
