<h1 class="page-header">Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="18%">First Name</th>
      <th width="18%">Last Name</th>
      <th width="18%">Address</th>
      <th width="18%">Department</th>
      <th width="18%">Section</th>
      <th width="18%">Branch</th>
      <th width="10%">Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p><a class="add" href="#" data-bypass="true"><i class="icon-plus"></i> Add user</a></p>
