<td><input class="first_name" placeholder="First Name"></td>
<td><input class="last_name" placeholder="Last Name"></td>
<td><input class="address" placeholder="Address"></td>
<td><input class="department" placeholder="Department">
<td><select class="department"></select>
  <a class="add-department" href="/departments">Add department</a></td>
<td><select class="section"></select>
  <a class="add-section" href="#">Add section</a></td>
<td><select class="branch"></select>
  <a class="add-branch" href="/branches">Add branch</a></td>
<td><a href="#" data-bypass="true" class="save"><i class="icon-ok"></i></a></td>
